aiohttp==3.7.4.post0
asgiref==3.2.10
astroid==2.4.2
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.1
boto3==1.15.6
botocore==1.18.6
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
covid19dh==2.0.3
COVID19Py==0.3.0
cssselect==1.1.0
dateparser==1.0.0
device-detector==0.10
dj-database-url==0.5.0
Django==3.1
django-bootstrap4==2.2.0
django-crispy-forms==1.9.2
django-developer-panel==0.1.2
django-environ==0.4.5
django-on-heroku==1.0.1
django-storages==1.10.1
dotty-dict==1.3.0
elasticsearch==7.13.4
et-xmlfile==1.0.1
GetOldTweets3==0.0.11
gunicorn==20.0.4
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.1.1
isort==5.4.2
jdcal==1.4.1
jmespath==0.10.0
lark==0.11.3
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
multidict==5.1.0
nodejs==0.1.1
npm==0.1.1
numpy==1.19.2
openpyxl==3.0.5
optional-django==0.1.0
packaging==21.0
pandas==1.1.2
Pillow==7.2.0
pluggy==0.13.1
prodict==0.8.18
psycopg2==2.9.1
psycopg2-binary==2.8.6
py==1.10.0
pydantic==1.8.2
pylint==2.6.0
pyparsing==2.4.7
pyquery==1.4.1
pytest==6.2.4
python-dateutil==2.8.1
python-multipart==0.0.5
pytz==2021.1
PyYAML==5.4.1
regex==2021.8.3
requests==2.24.0
s3transfer==0.3.3
selenium==3.141.0
setuptools-scm==6.0.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.1
tracardi==0.5.5
tracardi-dot-notation==0.1.1
tracardi-graph-runner==0.4.35
tracardi-plugin-sdk==0.1.26
typed-ast==1.4.1
typer==0.3.2
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.25.10
waybackmachine==0.2.0
whitenoise==5.2.0
wrapt==1.12.1
xlrd==1.2.0
yarl==1.6.3
zipp==3.1.0
